Q1. What exactly is []?

In [1]:
#It represents the empty list value, which is a list value that contains no items.
l=[]
type(l)

list

Q2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [2]:
spam=[2,4,6,8,10]
spam[2]='Hello'
spam

[2, 4, 'Hello', 8, 10]

Let's pretend the spam includes the list ['a';'b';,'c';'d'] for the next three queries.

Q3. What is the value of spam[int(int('3'; * 2) / 11)]?

In [3]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

Q4. What is the value of spam[-1]?

In [4]:
spam[-1]

'd'

Q5. What is the value of spam[:2]?

In [5]:
spam[:2]

['a', 'b']

 Let's pretend bacon has the list [3.14,'cat', 11,'cat',11; True] for the next three questions.

Q6. What is the value of bacon.index('cat')?

In [7]:
bacon=[3.14, 'cat', 11, 'cat', 11,True]
bacon.index('cat')

1

Q7. How does bacon.append(99) change the look of the list value in bacon?

In [9]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', 11, True, 99, 99]

Q8. How does bacon.remove('cat') change the look of the list in bacon?

In [11]:
bacon.remove('cat')
bacon

[3.14, 11, 11, True, 99, 99]

Q9. What are the list concatenation and list replication operators?

In [12]:
# List concatenation refers to adding two different list and concatenation operator is '+'
# list replication refers to reperating the same list values in multiples and replication operator is '*'
l1=[2,4,5,7]
l2=['Mohit', 'Chauhan', 1996]
l1+l2

[2, 4, 5, 7, 'Mohit', 'Chauhan', 1996]

In [14]:
l1*3

[2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7]

In [15]:
l2*2

['Mohit', 'Chauhan', 1996, 'Mohit', 'Chauhan', 1996]

Q10. What is difference between the list methods append() and insert()?

In [31]:
#append()- adds the values to the end of the list
#insert()- adds the values at any index of the list
l=[5,10,15,20,25]
l.append('Mohit')
l

[5, 10, 15, 20, 25, 'Mohit']

In [32]:
l.insert(2, 'Chauhan')
l

[5, 10, 'Chauhan', 15, 20, 25, 'Mohit']

Q11. What are the two methods for removing items from a list?

In [39]:
# pop()-removes element from the list at specified index
# remove()- removes the first element of the specified value
# clear()- removes all the elements from the list
l=[5, 10, 'Chauhan', 15, 20, 25,15, 'Mohit']
l.pop(1)
l

[5, 'Chauhan', 15, 20, 25, 15, 'Mohit']

In [40]:
l.remove(15)
l

[5, 'Chauhan', 20, 25, 15, 'Mohit']

In [41]:
l.clear()
l

[]

Q12. Describe how list values and string values are identical.

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

Q13. What's the difference between tuples and lists?

1.) Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all.
2.) tuples are written using parentheses, ( and ), while lists use the square brackets, [ and ].

Q14. How do you type a tuple value that only contains the integer 42?

In [46]:
t=(42,)
type(t)

tuple

Q15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [48]:
#list values into tuple's form
l=[2,4,8,'Pepsi']
t=tuple(l)
t

(2, 4, 8, 'Pepsi')

In [49]:
#tuple value into list form
t1=(18, 20, 25, 'Coke','Sprite')
l1=list(t1)
l1

[18, 20, 25, 'Coke', 'Sprite']

Q16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

They contain references to list values.

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [70]:
#The copy.copy() function will do a shallow copy of a list
import copy
l=[5,10,25,45,75, ['laptop', 'charger',4,25]]
l1=copy.copy(l)
l1[5][2]='mobile'

In [72]:
l,l1

([5, 10, 25, 45, 75, ['laptop', 'charger', 'mobile', 25]],
 [5, 10, 25, 45, 75, ['laptop', 'charger', 'mobile', 25]])

In [73]:
#The copy.deepcopy() function will do a deep copy of a list. only copy.deepcopy() will duplicate any lists inside the list
l=[5, 10, 25, 45, 75, ['laptop', 'charger', 'mobile', 25]]
l2=copy.deepcopy(l)
l2[5][3]=8053

In [74]:
l,l2

([5, 10, 25, 45, 75, ['laptop', 'charger', 'mobile', 25]],
 [5, 10, 25, 45, 75, ['laptop', 'charger', 'mobile', 8053]])